#Bower dependencies
public/bower_components/*

#npm dependencies
node_modules/*

#minified files
public/js/main.js
public/css/styles.min.css
public/node_modules

#uploads dir
public/images/uploads

#logia config
config

#env var for docker stack
.env
