#font-loader{
    font-size: 0 !important;
}

.font-1{
    font-family:"Megrim" !important;
}

.font-2{
    font-family:"Denk One"!important;
}
.font-3{
    font-family:"Waiting for the Sunrise"!important;
}

.font-4{
    font-family:"Lobster"!important;
}

.font-5{
    font-family:"Chewy"!important;
}

.font-6{
    font-family:"Patua One"!important;
}

.font-7{
    font-family:"Architects Daughter"!important;
}

.font-8{
    font-family:"Covered By Your Grace"!important;
}

.font-9{
    font-family:"Londrina Outline"!important;
}


