@import url("fonts/icomoon-fonts/icomoon.css");
@import url("fonts/metrize-fonts/style.css");
@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/Hover/css/hover-min.css");
@import url("google-fonts.css");
@import url("../bower_components/highlightjs/styles/ir_black.css");
@import url("curtain.css");

@media screen and (max-height: 500px) and (orientation: landscape)  {

    #home-logo{
        font-size: 11em !important;
        margin: 0;
    }

    .home-label-item{
        font-size: 1.5em !important;
        margin: 0;
    }

    #icon-bar{
        margin: 0;
    }

    a.link-btn{
        font-size: 2.8em !important;

    }

}

body{
    font-family: "Merriweather", "Georgia", "serif";
}

.panel{
    position: relative;
    margin:0;
    min-height:100%;
    width:100%;
    border-radius: 0;
    background-color: #f6f6f6;
}

.post-body{
    margin:2em;
    line-height: 1.7;
    font-size: 1.4rem;
}

code.hljs{
    font-size: 1.2rem;
}

.post-body p:first-child:first-letter{
    float: left;
    width: 0.7em;
    font-size: 455%;
    line-height: 80%;
    text-transform: capitalize;
    margin: 0 10px -10px 0;
    color: #606666;
}

.post-title{
    margin:1.2em 0 0.5em 1.6em;
    font-family: Lora, OpenSans, sans-serif;
    font-weight:700;
    color: #606666;
}

.panel.left-side{
    background-color: #3F4158;
    opacity:0.8;
    color:white;
}

.panel-title{
    margin-top:1em;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
}

a.list-group-item{
    color:white;
    background-color: #3F4158;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    font-size: 8pt;
}

a.list-group-item:hover,
a.list-group-item:focus {
    box-shadow: none;
}

a.list-group-item.active{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

#curtain-left .list-group{
    margin-top:20px;
}

p.date{
    position:absolute;
    font-family: sans-serif;
    font-size: 12px;
    bottom: 5px;
    right: 25px;
}

a.link-btn{
    font-size: 3.5em;
    color:#FAFBEE;
    text-decoration: none;
    box-shadow: none;
    text-shadow: 0 0 5px #3E487D, 0 0 10px #070732, 0 0 20px #3E487D, 0 0 30px #3E487D, 0 0 40px #3E487D;
}

a:hover,
a:focus{
    box-shadow: none;
    outline : none ;
}

a.link-btn:hover,
a.link-btn:focus{
    text-decoration: none;
    color: #E8E8C2;
}

/*Override hoverjs class so link can return in it's initial state after being pressed*/
.hvr-float-shadow:focus{
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}

#back-home{
    position: relative;
    top:0.2em;
    margin:0.5em;
    font-size: 24pt;
}

#login-back-home{
    position: relative;
    top: -1.72em;
    margin: 0.5em;
    font-size: 16pt;
    float:left;
}

#demo-canvas{
    position: absolute;
}

#home-page{
    background-image:url("../images/wall.jpg");
    background-size: cover;
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
}

.pull-right {
    float: right !important;
}

.form-signin{
    width:300px;
    height:300px;
    margin:0 auto;
}

.delete-btn:hover{
    color:red;
}

#curtain-left a.list-group-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stop-scrolling {
    overflow: hidden;
}

.container{
    display: table;
    vertical-align: middle;
}

.vertical-center-row{
    display: table-cell;
    vertical-align: middle;
}

.inline {
    display: inline-block;
    width:1.3em;
}

#icon-bar{
    position: relative;
    bottom:5%;
}

#icon-bar .wrapper{
    display: table;
    margin: 0 auto;
}

.form-signin{
    position: relative;
    border-radius: 30px;
    background-color: #01002A;
    text-align: center;
    height:185px;
    opacity:0.8;
    box-shadow:1px 1px 50px 1px #FCE1AC;
    width: 250px;
}

.btn-block{
    width: 43%;
    margin: 0 auto;
    bottom: 0;
    margin-top: 15px;
    font-size: 12px;
    background-color: #3F4158;
    border-color: #FAFBEE;
}

.form-signin .form-control{
    background-color: #01002A;
    border: 1px solid #FAFBEE;
    border-radius: 0;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
    margin-top: 10px;
}

h2.form-signin-heading{
    color:#FAFBEE;
    font-size: 31px;
    font-family:"UnPilgi", "Megrim";
    font-weight: bold;
    margin-bottom: 5;
}

.form-control:focus {
    border-color: #FCE1AC;
}

#home-logo{
    font-family: "Londrina Outline";
    color: rgba(241, 242, 233, 1);
    text-shadow: 0px 6px 20px #101851, 0px 8px 13px rgba(81, 97, 120, 1), 0px 18px 23px rgba(235, 206, 165, 1);
    font-size: 14em;
    opacity: 0.8;
    margin-bottom: -15px;
    text-align: center;
    letter-spacing: 2px;
}

#home-label{
    margin-bottom: 6%;
    text-align: center;
}

.home-label-item{
    font-family: "Megrim";
    color: rgba(241, 242, 233, 1);
    font-size: 1.7em;
    font-weight: bolder;
    text-shadow: 0 0 5px #3E487D, 0 0 10px #041C5C, 0 0 20px #3E487D, 0 0 30px #3E487D, 0 0 40px #3E487D;
    display: inline-block;
    margin-top: 3%;
}

.form-horizontal{
    background-color: rgb(97, 99, 117);
    height: 100%;
    color:whitesmoke;
}

.form-group label, input{
    margin-top: 1em;
}

#cke_1_contents{
    height:60% !important;
}

.alert{
    min-width: 300px;
    float:right;
    margin: 5px 20px 0 0;
    overflow: auto;
    clear:both;
    border-radius: 4px;
    font-family:"Merriweather";
}

.alert .notification-msg{
    display: inline-block;
}

.uppercase{
    text-transform: uppercase;
}

#not-found-view{
    font-family:"Denk One";
    text-align:center;
    color: rgba(241, 242, 233, 1);
    text-shadow: 0 0 5px #3E487D, 0 0 10px #041C5C, 0 0 20px #3E487D, 0 0 30px #3E487D, 0 0 40px #3E487D;
}

#not-found-view .not-found-status{
    font-size: 8em;
}

#not-found-view .not-found-message{
    font-size: 3em;
}

pre.cke_widget_element{
    padding: 0;
}

#admin-panel{
    position: absolute;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width:40px;
}

.admin-btn{
    width:40px;
    height:40px;
    font-size: 22px;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.share-buttons li{
    display: inline;
}

.submit-btn-container{
    position: relative;
}

.submit-btn-container #save-post-btn,
.submit-btn-container #update-post-btn{
    position: absolute;
    left: 50%;
    top: 16px;
    transform: translate(-50%, -50%);
    width:83%;
}
