
body{
    font-family: 'Lucida Sans', Georgia, 'Tahoma', serif;
}

.panel{
    position: relative;
    margin:0;
    min-height:100%;
    width:100%;
    border-radius: 0;
    background-color: #f6f6f6;
}

.post-body{
    margin:2em;
}

.post-title{
    margin:1.2em 0 0.5em 1.2em;
    font-family: OpenSans, sans-serif;
}

.panel.left-side{
    background-color: #3F4158;
    opacity:0.8;
    color:white;
}

.panel-title{
    margin-top:1em;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
}

a.list-group-item{
    color:white;
    background-color: #3F4158;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    font-size: 8pt;
}

.date{
    position: absolute;
    bottom: 5px;
}

a.link-btn{
    color:#FAFBEE;
    text-decoration: none;
    box-shadow: none;
    text-shadow: 0 0 5px #3E487D, 0 0 10px #070732, 0 0 20px #3E487D, 0 0 30px #3E487D, 0 0 40px #3E487D;
}

a.link-btn:hover,active, focus, visited{
    color: #E8E8C2;
    text-decoration: none;
    box-shadow: none;
}

#back-home{
    position: relative;
    top:0.2em;
    margin:0.5em;
    font-size: 24pt;
}

#login-back-home{
    position: relative;
    top: -1.72em;
    margin: 0.5em;
    font-size: 16pt;
    float:left;
}

.mainContainer{
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
}

#demo-canvas{
    position: absolute;
}

#page1{
    background-image:url("../images/wall.jpg");
    background-size: cover;
}

.pull-right {
    float: right !important;
}

.form-signin{
    width:300px;
    height:300px;
    margin:0 auto;
}

.delete-btn{
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    padding:4px;

}

.stop-scrolling {
    overflow: hidden;
}

.container{
    display: table;
    vertical-align: middle;
}

.vertical-center-row{
    display: table-cell;
    vertical-align: middle;
}

.inline {
    display: inline-block;
    width:1.3em;
    font-size:36pt;
}

#icon-bar{
    position: relative;
    bottom:5%;
}

#icon-bar .wrapper{
    display: table;
    margin: 0 auto;
}

.form-signin{
    position: relative;
    border-radius: 30px;
    background-color: #01002A;
    text-align: center;
    height:185px;
    opacity:0.8;
    box-shadow:1px 1px 50px 1px #FCE1AC;
    width: 250px;
}

.btn-block{
    width: 43%;
    margin: 0 auto;
    bottom: 0;
    margin-top: 15px;
    font-size: 12px;
    background-color: #3F4158;
    border-color: #FAFBEE;
}

.form-signin .form-control{
    background-color: #01002A;
    border: 1px solid #FAFBEE;
    border-radius: 0;
    text-align: center;
    border-left-style: none;
    border-right-style: none;
    margin-top: 10px;
}

h2.form-signin-heading{
    color:#FAFBEE;
    font-size: 31px;
    font-family:"UnPilgi", Georgia, "GFS Artemisia", serif;
    font-weight: bold;
    margin-bottom: 5;
}

.form-control:focus {
    border-color: #FCE1AC; 
}

#home-logo{
    font-family: "Londrina Outline";
    color: rgba(241, 242, 233, 1);
    text-shadow: 0px 6px 20px #101851, 0px 8px 13px rgba(81, 97, 120, 1), 0px 18px 23px rgba(235, 206, 165, 1);
    font-size: 14em;
    opacity: 0.8;
    margin-bottom: -15px;
    text-align: center;
    letter-spacing: 2px;
}

#home-label{
    font-family: "Audiowide";
    color: rgba(241, 242, 233, 1); 
    font-size: 1.3em;
    margin-bottom: 10%;
    font-weight: bolder;
    text-shadow: 0 0 5px #3E487D, 0 0 10px #041C5C, 0 0 20px #3E487D, 0 0 30px #3E487D, 0 0 40px #3E487D;
}

.form-horizontal{
    background-color: rgb(97, 99, 117);
    height: 100%;
    color:whitesmoke;
}

.form-group label, input{
    margin-top: 1em;
}

#cke_1_contents{
    height:70% !important;
}


.font-1{
    font-family:"Indie+Flower" !important;
}

.font-2{
    font-family:"Denk One"!important;
}
.font-3{
    font-family:"Waiting for the Sunrise"!important;
}

.font-4{
    font-family:"Lobster"!important;
}

.font-5{
    font-family:"Chewy"!important;
}

.font-6{
    font-family:"Patua One"!important;
}

.font-7{
    font-family:"Architects Daughter"!important;
}

.font-8{
    font-family:"Covered By Your Grace"!important;
}

.font-9{
    font-family:"Londrina Outline"!important;
}

#font-loader{
    font-size: 0 !important;
}




